papers/*
*.DS_Store
morton2019.txt
data/*
*.csv
*.pdf
*.png
*.txt
tr.ewv4
phylo.zanne.tre
data/* 
figures/*
outputs/* 
*.Rhistory
*.RData
RF_runs.sh
RF_runs_lab_pipeline.sh 
data_processing.sh 
EcoStructure_runs.sh 
*.sh
14.prepare_data_for_RF.R
15.analyze_ML.R
16.feature_selection.R 
*.py 
old_scripts/* 

